body {
  background: gray;
}

#start-btn {
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 200px auto;
  font-size: 24px;
}

#game {
  background: white;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  display: block;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.bow {
  background: brown;
  border-radius: 64px 64px 0 0;
  bottom: 0;
  height: 20px;
  position: absolute;
  width: 140px;
  z-index: 2;
}

.bucket {
  background: silver;
  border-radius: 8px 8px 0 0;
  bottom: 0;
  height: 80px;
  position: absolute;
  width: 80px;
  z-index: 1;
}

.dangler {
  position: absolute;
}

.dangler .rope {
  border: 2px dashed tan;
  width: 1px;
}

.dangler .bubble {
  border-radius: 80px;
  background: red;
  height: 60px;
  left: -30px;
  position: absolute;
  width: 60px;
}