.bow {
  background: brown;
  border-radius: 64px 64px 0 0;
  bottom: 0;
  height: 20px;
  position: absolute;
  width: 140px;
  z-index: 2;
}

.bucket {
  background: silver;
  border-radius: 8px 8px 0 0;
  bottom: 0;
  height: 80px;
  position: absolute;
  width: 80px;
  z-index: 1;
}